Source: ngcp-rest-api
Section: web
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends:
 debhelper-compat (= 13),
 gyp,
 libsystemd-dev,
 nodejs (>= 18),
Standards-Version: 4.7.2
Homepage: https://www.sipwise.com/

Package: ngcp-rest-api
Architecture: any
Depends:
 nodejs (>= 18),
 ${misc:Depends},
 ${shlibs:Depends},
Description: Javascript based REST API for NGCP
 Replacement of old Perl based NGCP REST API.
