Source: ngcp-rest-api
Section: web
Priority: optional
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends:
 debhelper-compat (= 12),
 libsystemd-dev,
 node-gyp,
 yarnpkg | nodejs (>= 12.19.0~),
 yarnpkg | yarn,
Standards-Version: 3.9.8
Homepage: https://www.sipwise.com/

Package: ngcp-rest-api
Architecture: all
Depends:
 nodejs (>= 4.6.2~),
 ${misc:Depends},
Description: Javascript based REST API for NGCP
 Replacement of old Perl based NGCP REST API.
