Source: ngcp-rest-api
Section: web
Priority: optional
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends:
 debhelper-compat (= 12),
Standards-Version: 3.9.8
Homepage: https://www.sipwise.com/

Package: ngcp-rest-api
Architecture: all
Depends:
 ${misc:Depends},
 ${perl:Depends},
Description: JS based REST API for NGCP
 Replacement of old Perl based NGCP REST API.
